        .bg
		{
			background: url(img/bg.jpg);
			background-size: 50% 150%;
			padding: 100 0;
		}
		.logo
		{
			display: flex;
			line-height: 50px;
			width: 80px;
			height: 70px;
		}
		.h1
		{
			text-align: center;
			color: white;
			vertical-align: top;
		}
		.h2
		{
			text-align: center;
			vertical-align: top;
		}
		.footer
		{
			background: url(img/footer.jpg);
			background-size: cover;
			padding: 100px 0px;
		}
		.container
		{
			padding: 0 15px;
			margin: 0 auto;
		}
		.footer-row
		{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.footer-search
		{
			display: flex;
			justify-content: space-between;
			margin-top:30px;
			align-items: center;
		}
		.footer-search-input
		{
			height: 40px;
			flex-grow: 3;
			margin-right: 20px;
			border-radius: 10px;
			border: none;
		}
		.footer-search-button
		{
			height: 40px;
			flex-grow: 2;
			border-radius: 10px;
			text-transform: uppercase;
			font-weight: bold;
		}
		.footer-text
		{
			color: white;
		}
		.nav-item
		{
			white-space: nowrap;
		}

        @media screen and (max-width: 850px)
        {
            .header-menu
            {
                display: none;
            }

            .header-logo
            {
                justify-content: center;
            }
            
            .cards-row
            {
                justify-content: center;
                flex-wrap: wrap;
            }
            
            .card
            {
                width: auto;
            }
            
            .search, .footer-search-input, .footer-search-button, .social-networks
            {
                width: 100%;
                margin-button: 10px;
            }
            
            .footer-row, .footer-search
            {
                flex-wrap: wrap;
            }

            .footer-search-input
            {
                margin-right: 0px;
            }

            .social-networks
            {
                justify-content: space-around;
            }

        }